~*

ghg_fac.csv
GHGRP_DATA/ghgp_data_2010.xlsx
GHGRP_DATA/ghgp_data_2011.xlsx
GHGRP_DATA/ghgp_data_2012.xlsx
GHGRP_DATA/ghgp_data_2013.xlsx
GHGRP_DATA/ghgp_data_2014.xlsx
GHGRP_DATA/ghgp_data_2015.xlsx
GHGRP_DATA/ghgp_data_2016.xlsx
GHGRP_DATA/ghgp_data_2017.xlsx
GHGRP_DATA/ghgp_data_2018.xlsx
GHGRP_DATA/ghgp_data_2019.xlsx
GHGRP_DATA/ghgp_data_2020.xlsx
GHGRP_DATA/ghgp_data_2021.xlsx
GHGRP_DATA/ghgp_data_2022.xlsx
GHGRP_DATA/ghgp_data_2023.xlsx
GHGRP_DATA/ghgp_data_by_year_2023.xlsx
*.xlsx
*.csv
